adafruit_ads1x15==1.0.2
Adafruit_BNO055==1.0.2
adafruit_ssd1306==1.6.2
board==1.0
matplotlib==3.1.2
numpy==1.17.4
pandas==1.5.2
Pillow==9.4.0
pyserial==3.5
scikit_learn==1.2.2
scipy==1.10.1
seaborn==0.11.1
spidev==3.6
tensorflow==2.11.0
tqdm==4.61.2
